<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark mb-3" style="background-color: #20409a;">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="navbar-brand text-white" >Beerhouse</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="container" style="text-align:center">
      <!-- Area da Lista de cervejas -->
      <div class="jumbotron" *ngIf="itemDetail===false && itemAdd===false">
        <h1>
          Lista de cervejas
        </h1>
        <hr/>

        <div class="row">
          <div class="col" *ngFor="let item of items; let i = index">
            <br/>
            <div class="card" style="width: 18rem;">
              <p class="card-text">{{ item.name }}</p>
              <div class="card-body">
                <img src="{{item.image}}" height="200" /><hr/>
                <button class="btn btn-success" (click)="detail(item.id); itemDetail = !itemDetail">Ver</button> |
                <button class="btn btn-danger" (click)="delete(item.id)">Remover</button>
              </div>
            </div>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col">
            <button class="btn btn-success" (click)="itemAdd = !itemAdd">Adicionar Cerveja</button>
          </div>
        </div>
      </div>
      <!-- Fim da area de lista de cervejas -->

      <!-- Area para adicionar cerveja -->
      <div class="jumbotron" *ngIf="itemAdd===true && itemDetail===false">
        <h1>
          Adicionar Nova Cerveja
        </h1>
        <hr/>

        <div class="row">
          <div class="col">
            <label for="name">Name: </label><input #itemName type='text' placeholder='Name'><br/><br/>
            <label for="description">Description: </label><input #itemDescription type='text' placeholder='Description'><br/><br/>
            <label for="harmonization">Harmonization: </label>
            <select #itemHarmonization name="harmonization" ng-model="data.harmonization">
              <option value="Aves">Aves</option>
              <option value="Balada">Balada</option>
              <option value="Bolinho de Bacalhau">Bolinho de Bacalhau</option>
              <option value="Carne de Caça">Carne de Caça</option>
              <option value="Chocolate">Chocolate</option>
              <option value="Churrasco">Churrasco</option>
              <option value="Costelinha de Porco">Costelinha de Porco</option>
              <option value="Doces">Doces</option>
              <option value="Frutos do Mar">Frutos do Mar</option>
              <option value="Hambúrguer">Hambúrguer</option>
              <option value="Massas">Massas</option>
              <option value="Panna Costa">Panna Costa</option>
              <option value="Petiscos de Boteco">Petiscos de Boteco</option>
              <option value="Pizza">Pizza</option>
              <option value="Queijos">Queijos</option>
              <option value="Quitutes Apimentados">Quitutes Apimentados</option>
              <option value="Saladas">Saladas</option>
            </select><br/><br/>
            <label for="color">Color: </label><input #itemColor type='text' placeholder='Color'><br/><br/>
            <label for="alcoholContent">Alcohol Content:</label><input #itemAlcoholContent type='text' placeholder='Alcohol Content'><br/><br/>
            <label for="temperature">Temperature:</label><input #itemTemperature type='text' placeholder='Temperature'><br/><br/>
            <label for="ingredients">Ingredients:</label><input #itemIngredients type='text' placeholder='Ingredients'><br/><br/>
            <label for="image">Image: </label><input #itemImage type="file" placeholder="Image"><br/><br/>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <button class="btn btn-success" (click)="add(itemName.value, itemDescription.value, itemHarmonization.value,
            itemColor.value, itemAlcoholContent.value, itemTemperature.value, itemIngredients.value);
            itemAdd = !itemAdd">Confirmar</button>
            {{ error?.message }}
            <button class="btn btn-info" (click)="itemAdd = !itemAdd">Voltar</button>
          </div>
        </div>
      </div>
      <!-- Fim da area de adicionar uma cerveja -->

      <!-- Area de detalhe da cerveja -->
      <div class="jumbotron" *ngIf="itemDetail===true && itemAdd===false">
        <div class="row">
            <div class="col-3">
              <img src="{{beer.image}}" />
            </div>
          <div class="col-9">
              <p>{{ beer.name }}</p><br/>
              <ng-template ngIf="{{ beer.description }}"><p>{{ beer.description }}</p><br/></ng-template>
              <ng-template ngIf="{{ beer.color }}"><p>{{ beer.color }}</p><br/></ng-template>
              <p>Teor alcoólico: {{ beer.alcohol_content }}</p><br/>
              <p>Temperatura: {{ beer.temperature }}</p><br/>
              <ng-template ngIf="{{ beer.ingredients }}"><p>Ingredientes: {{ beer.ingredients }}</p></ng-template>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col">
            <button class="btn btn-info" (click)="itemDetail = !itemDetail">Voltar</button>
          </div>
        </div>
      </div>
      <!-- Fim da area de detalhe da cerveja -->
    </div>
  </body>
</html>
