<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark mb-3" style="background-color: #20409a;">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="navbar-brand text-white" >Beerhouse</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="container" style="text-align:center">
      <div class="jumbotron">
        <h1>
          Lista de cervejas
        </h1>
        <hr/>

        <div class="row">
          <div class="col" *ngFor="let item of items; let i = index">
            <br/>
            <div class="card" style="width: 18rem;">
              <p class="card-text">{{ item.name }}</p>
              <div class="card-body">
                <img src="{{item.image}}" height="200" /><hr/>
                <button class="btn btn-success" (click)="detail(item.id)">Editar</button> |
                <button class="btn btn-danger" (click)="delete(item.id)">Remover</button>
              </div>
            </div>
          </div>
        </div>
        <hr/>

        <div class="row">
            <input #itemName type='text' placeholder='Name'><br/><br/>
            <input #itemDescription type='text' placeholder='Description'><br/><br/>
            <input #itemHarmonization type='text' placeholder='Harmonization'><br/><br/>
        </div>
        <br/>

        <div class="row">
            <input #itemColor type='text' placeholder='Color'><br/><br/>
            <input #itemAlcoholContent type='text' placeholder='Alcohol Content'><br/><br/>
            <input #itemTemperature type='text' placeholder='Temperature'><br/><br/>
        </div>
        <br/>

        <div class="row">
            <input #itemIngredients type='text' placeholder='Ingredients'><br/><br/>
            <input #itemImage type="file" placeholder="Image"><br/><br/>
        </div>
        <br/>
        <div class="row">
            <button class="btn btn-success" (click)="add(itemName.value, itemDescription.value, itemHarmonization.value, itemColor.value, itemAlcoholContent.value, itemTemperature.value, itemIngredients.value)">Add New Beer</button>
            {{ error?.message }}
        </div>
      </div>
    </div>
  </body>
</html>
